@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 248 11% 16%; /* #211F33 */

    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 248 11% 16%; /* #211F33 */

    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 248 11% 16%; /* #211F33 */

    --primary: 210 57% 46%; /* #337AB7 */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */

    --secondary: 240 2% 96%; /* #F4F4F5 */
    --secondary-foreground: 248 11% 16%; /* #211F33 */

    --muted: 240 1% 92%; /* #E8E8EA */
    --muted-foreground: 245 4% 45%; /* #6E6D7A */

    --accent: 203 52% 50%; /* #3BA1C4 */
    --accent-foreground: 201 100% 13%; /* #002A42 */

    --destructive: 355 64% 53%; /* #D53948 */
    --destructive-foreground: 0 0% 100%; /* #FFFFFF */

    --border: 240 9% 84%; /* #D1D0D9 */
    --input: 246 15% 58%; /* #88859E */
    --ring: 246 7% 37%; /* #595766 */
  }
  .dark {
    --radius: 0.5rem;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
