@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 246 24% 16%; /* #211F33 */

    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 246 24% 16%; /* #211F33 */

    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 246 24% 16%; /* #211F33 */

    --primary: 208 56% 46%; /* #337AB7 */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */

    --secondary: 240 2% 96%; /* #F4F4F5 */
    --secondary-foreground: 246 24% 16%; /* #211F33 */

    --muted: 240 1% 92%; /* #E8E8EA */
    --muted-foreground: 245 6% 45%; /* #6E6D7A */

    --accent: 195 54% 50%; /* #3BA1C4 */
    --accent-foreground: 202 100% 13%; /* #002A42 */

    --destructive: 354 65% 53%; /* #D53948 */
    --destructive-foreground: 0 0% 100%; /* #FFFFFF */

    --border: 247 11% 83%; /* #D1D0D9 */
    --border-secondary: 252 10% 81%; /* #CBC9D3 */
    --border-foreground: 225 9% 91%; /* #E7E8EB */
    --input: 247 11% 57%; /* #88859E */
    --ring: 248 8% 37%; /* #595766 */
  }
  .dark {
    --radius: 0.5rem;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
